<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div ng-controller="FormationMainCtrl" >
          <div class="container">
			<div id="page-wrapper">
				<div class="row">
				    <div class="col-lg-12">
				    	<button type="button" ng-click="deconnexion()" class="btn btn-success pull-right">Deconnexion</button>
				        <h1 class="page-header">SPI Home</h1> 
				    </div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
					    <div class="col-lg-4 col-md-6">
					        <div class="panel panel-primary">
					            <div class="panel-heading">
					                <div class="row">
					                    <div class="col-xs-3">
					                        <i class="fa fa-comments fa-5x"></i>
					                    </div>
					                    <div class="col-xs-9 text-right">
					                        <div class="huge">Formation</div>
					                        <div>{{nombreFormation}}</div>
					                    </div>
					                </div>
					            </div>
					            <a href="#/touteslesFormations">
					                <div class="panel-footer">
					                    <span class="pull-left">détails</span>
					                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                    <div class="clearfix"></div>
					                </div>
					            </a>
					        </div>
					    </div>
					    <div class="col-lg-4 col-lg-offset-3 col-md-6">
					        <div class="panel panel-green">
					            <div class="panel-heading">
					                <div class="row">
					                    <div class="col-xs-3">
					                        <i class="fa fa-tasks fa-5x"></i>
					                    </div>
					                    <div class="col-xs-9 text-right">
					                        <div class="huge">Enseignant</div>
					                        <div>{{nombreEnseignant}}</div>
					                    </div>
					                </div>
					            </div>
					            <a href="#/touslesEnseignants">
					                <div class="panel-footer">
					                    <span class="pull-left">détails</span>
					                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                    <div class="clearfix"></div>
					                </div>
					            </a>
					        </div>
					    </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
					    <div class="col-lg-4 col-md-6">
					        <div class="panel panel-yellow">
					            <div class="panel-heading">
					                <div class="row">
					                    <div class="col-xs-3">
					                        <i class="fa fa-shopping-cart fa-5x"></i>
					                    </div>
					                    <div class="col-xs-9 text-right">
					                        <div class="huge">124</div>
					                        <div>Unité Enseignement</div>
					                    </div>
					                </div>
					            </div>
					            <a href="#/404">
					                <div class="panel-footer">
					                    <span class="pull-left">détails</span>
					                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                    <div class="clearfix"></div>
					                </div>
					            </a>
					        </div>
					    </div>
					    <div class="col-lg-4 col-lg-offset-3 col-md-6">
					        <div class="panel panel-red">
					            <div class="panel-heading">
					                <div class="row">
					                    <div class="col-xs-3">
					                        <i class="fa fa-support fa-5x"></i>
					                    </div>
					                    <div class="col-xs-9 text-right">
					                        <div class="huge">13</div>
					                        <div>Promotions</div>
					                    </div>
					                </div>
					            </div>
					            <a href="#/404">
					                <div class="panel-footer">
					                    <span class="pull-left">détails</span>
					                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                    <div class="clearfix"></div>
					                </div>
					            </a>
					        </div>
					    </div>
				    </div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

